.new-arrival-container {
     position: relative;
     width: 1920px;
     height: 790px;
     background: #F6F5F5;

}

.new-arrival-all-content {
     position: absolute;
     top: 100px;
     left: 148px;

}

.new-arrival-text-container {
     color: #060606;
     width: 527px;
     height: 84px;
     font-family: "Montserrat";
     font-size: 70px;
     font-weight: 600;
     line-height: 84px;
     letter-spacing: 0.5px;
     margin-bottom: 20px;


}