.best-selling-card-container {
     top: 216px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 16px;
}

.single-card {
     background-color: white;
     width: 386.5px;
     height: 476px;
     border-radius: 12px;
     transition: transform 0.4s ease, box-shadow 0.4s ease;
     overflow: hidden;
     border-radius: 15px;

}

.single-card:hover {
     transform: scale(1.06);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.best-selling-image-container {
     object-fit: contain;
     overflow: hidden;
     border-radius: inherit;
}

.single-card img {
     transition: transform 0.4s ease;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.single-card:hover img {
     transform: scale(1);
}

.best-selling-card-image {
     padding: 16px;
}

.best-selling-content {
     padding-left: 16px;
}

.best-selling-title {
     font-family: "inter";
     margin-bottom: 16px;
     font-size: 18px;
     font-weight: 600px;
     line-height: 19.2px;
     letter-spacing: 0.5%;
}

.best-selling-pricing {
     font-family: "inter";
     font-size: 20px;
}