.all-image-div {
     position: relative;
}

.up-arrow {
     position: absolute;
     top: 10px;
     left: 35px;
}

.down-arrow {
     position: absolute;
     top: 480px;
     left: 35px;
}

.column-images {
     height: 436px;
}

.primary-image {
     position: relative;
     margin-left: 10px;
}

.primary-image:hover~.zoomed-image {
     display: block;
}

.zoomed-image {
     background-color: white;
     display: none;
     position: absolute;
     top: 10%;
     left: 90%;
     width: 400px;
     height: 400px;
     border: 1px solid #ccc;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     z-index: 100;
}