.shop-collection-section {
     width: 120rem;
     height: 73.0625rem;
     background: linear-gradient(180deg, #2C2A2A 0%, #000000 100%);
     position: relative;

}

.shop-logo {
     position: relative;
     width: 40rem;
     height: 49.5rem;
     top: 1.5rem;
     left: 1.0625rem;
     opacity: 3%;
     z-index: 1;
}

.shop-content-container {
     width: 100rem;
     height: 54.5625rem;
     position: absolute;
     top: 9.25rem;
     left: 9.625rem;
}

.heading-title {
     font-family: "Montserrat medium bold";
     font-size: 4.375rem;
     line-height: 5.25rem;
     letter-spacing: 0.5px;
}


.stroke-text {
     color: transparent;
     -webkit-text-stroke: 1px #ffffff;
}

.view-all {
     margin-top: 2.5rem;
     color: black;
     font-family: "inter-bold";
     width: 10.5rem;
     height: 3.25rem;
     background: #ffffff;
     padding: 1rem, 2rem, 1rem, 2rem;
     border-radius: 0.75rem;
     gap: 0.75rem;
     position: absolute;
     z-index: 2;
}

.view-all:hover {
     color: white;
     background: linear-gradient(180deg, #ee383e 0%, #EF5256 100%);
}

.photo-content {
     height: full;
     margin-top: 2rem;
     z-index: 3;
     background-color: blue;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     /* grid-template-rows: 20px 20px 20px 20px; */
}

.bag {
     position: absolute;
     top: 21.3125rem;
}

.bag-image-heading {
     top: 26rem;
     position: absolute;
     left: 1.25rem;
     font-family: "Montserrat medium bold";
     font-size: 2rem;
     line-height: 2.375rem;
     letter-spacing: 0.5px;
}

.bag-image {
     position: relative;
     width: 23.1875rem;
     height: 33.1875rem;
     object-fit: cover;
     z-index: 2;
     border-radius: 0.75rem;
     background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
          url('../../assets/img/img\ \(3\).jpeg');
     background-size: cover;
     background-position: center;
}

.caps-books {
     position: absolute;
     width: 27.625rem;
     left: 25rem;
     top: 17.375rem;
}

.cap-image-heading {
     position: absolute;
     top: 12rem;
     position: absolute;
     left: 1.25rem;
     font-family: "Montserrat medium bold";
     font-size: 2rem;
     line-height: 2.375rem;
     letter-spacing: 0.5px;
}

.caps-image {
     width: 26.5rem;
     height: 17.625rem;
     object-fit: cover;
     z-index: 2;
     margin-bottom: 2rem;
     border-radius: 0.75rem;
     background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
          url('../../assets/img/img\ \(7\).png');
     background-size: cover;
     background-position: center;
}

.books-image-heading {
     position: absolute;
     top: 33rem;
     position: absolute;
     left: 1.25rem;
     font-family: "Montserrat medium bold";
     font-size: 2rem;
     line-height: 2.375rem;
     letter-spacing: 0.5px;
}

.books-image {
     width: 26.5rem;
     height: 17.625rem;
     object-fit: cover;
     z-index: 2;
     border-radius: 0.75rem;
     background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
          url('../../assets/img/img\ \(2\).png');
     background-size: cover;
     background-position: center;
}

.bottle-image-heading {
     position: absolute;
     top: 39rem;
     position: absolute;
     left: 1.25rem;
     font-family: "Montserrat medium bold";
     font-size: 2rem;
     line-height: 2.375rem;
     letter-spacing: 0.5px;
}

.bottle-image {
     position: relative;
     margin-left: 2.75rem;
     margin-top: 10.9375rem;
     justify-content: center;
     /* margin-left: 20px; */
     width: 18.75rem;
     height: 43.75rem;
     object-fit: cover;
     z-index: 2;
     border-radius: 0.75rem;
     background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
          url('../../assets/img/img\ \(8\).jpeg');
     background-size: cover;
     background-position: center;
}

.t-shirt-one-heading {
     position: absolute;
     top: 19rem;
     position: absolute;
     left: 1.25rem;
     font-family: "Montserrat medium bold";
     font-size: 2rem;
     line-height: 2.375rem;
     letter-spacing: 0.5px;
}

.t-shirt-one {
     position: absolute;
     right: 0px;
     width: 26.5rem;
     height: 26.5rem;
     object-fit: cover;
     z-index: 2;
     border-radius: 0.75rem;
     background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
          url('../../assets/img/img\ \(2\).jpeg');
     background-size: cover;
     background-position: center;
}

.t-shirt-two-heading {
     position: absolute;
     top: 22rem;
     position: absolute;
     left: 1.25rem;
     font-family: "Montserrat medium bold";
     font-size: 2rem;
     line-height: 2.375rem;
     letter-spacing: 0.5px;
}

.t-shirt-two {
     margin-top: 28rem;
     position: absolute;
     right: 0px;
     width: 26.5rem;
     height: 26.5rem;
     object-fit: cover;
     z-index: 2;
     border-radius: 0.75rem;
     background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
          url('../../assets/img/img\ \(9\).jpeg');
     background-size: cover;
     background-position: center;
}


/* for laptop  */

@media only screen and (max-width: 1440px) and (min-width: 1024px) {

     .shop-collection-section {
          width: 100%;
          /* height: 73.0625rem; */
          background: linear-gradient(180deg, #2C2A2A 0%, #000000 100%);
          position: relative;
     }

     .shop-logo {
          position: relative;
          width: 30rem;
          height: 40rem;
          top: 0.2rem;
          left: 1.0625rem;
          opacity: 3%;
          z-index: 1;
     }

     .shop-content-container {
          width: 80rem;
          height: 40rem;
          position: absolute;
          top: 5rem;
          left: 3rem;
     }

     .heading-title {
          font-family: "Montserrat medium bold";
          font-size: 3rem;
          line-height: 3.5rem;
          letter-spacing: 0.5px;
     }


     .stroke-text {
          color: transparent;
          -webkit-text-stroke: 1px #ffffff;
     }

     .view-all {
          margin-top: 1rem;
          color: black;
          font-family: "inter-bold";
          width: 10.5rem;
          height: 3.25rem;
          background: #ffffff;
          padding: 1rem, 2rem, 1rem, 2rem;
          border-radius: 0.75rem;
          gap: 0.75rem;
          position: absolute;
          z-index: 2;
     }

     .view-all:hover {
          color: white;
          background: linear-gradient(180deg, #ee383e 0%, #EF5256 100%);
     }

     .photo-content {
          margin-top: 1rem;
          z-index: 3;
     }

     .bag {
          position: absolute;
          top: 26rem;
          /* left: 2rem; */
     }

     .bag-image-heading {
          top: 15rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.5px;
     }

     .bag-image {
          position: relative;
          width: 13rem;
          height: 20rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(3\).jpeg');
          background-size: cover;
          background-position: center;
     }

     .caps-books {
          position: absolute;
          width: 17rem;
          left: 14rem;
          top: 17rem;
     }

     .cap-image-heading {
          position: absolute;
          top: 9.5rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.5px;
     }

     .caps-image {
          width: 14rem;
          height: 14rem;
          object-fit: cover;
          z-index: 2;
          margin-bottom: 1rem;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(7\).png');
          background-size: cover;
          background-position: center;
     }

     .books-image-heading {
          position: absolute;
          top: 26rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.5px;
     }

     .books-image {
          width: 14rem;
          height: 14rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(2\).png');
          background-size: cover;
          background-position: center;
     }

     .bottle-image-container {
          left: 3rem;
          position: absolute;
          left: 27rem;
     }

     .bottle-image-heading {
          position: absolute;
          top: 29rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.5px;
     }

     .bottle-image {
          position: relative;
          margin-left: 2rem;
          margin-top: 14rem;
          justify-content: center;
          width: 15rem;
          height: 32rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(8\).jpeg');
          background-size: cover;
          background-position: center;
     }

     .t-shirt-container {
          position: absolute;
          left: 60rem;
          top: 11rem;
     }

     .t-shirt-one-heading {
          position: absolute;
          top: 10rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.5px;
     }

     .t-shirt-one {
          position: absolute;
          right: 0px;
          width: 15rem;
          height: 17rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(2\).jpeg');
          background-size: cover;
          background-position: center;
     }

     .t-shirt-two-heading {
          position: absolute;
          top: 14rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.5px;
     }

     .t-shirt-two {
          margin-top: 18rem;
          position: absolute;
          right: 0px;
          width: 15rem;
          height: 17rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(9\).jpeg');
          background-size: cover;
          background-position: center;
     }
}

/* for tablet  */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
     .shop-collection-section {
          width: 100%;
          /* height: 73.0625rem; */
          background: linear-gradient(180deg, #2C2A2A 0%, #000000 100%);
          position: relative;
     }

     .shop-logo {
          position: relative;
          width: 30rem;
          height: 40rem;
          top: 0.2rem;
          left: 1.0625rem;
          opacity: 3%;
          z-index: 1;
     }

     .shop-content-container {
          width: 80rem;
          height: 40rem;
          position: absolute;
          top: 5rem;
          left: 2rem;
     }

     .heading-title {
          font-family: "Montserrat medium bold";
          font-size: 3rem;
          line-height: 3.5rem;
          letter-spacing: 0.5px;
     }


     .stroke-text {
          color: transparent;
          -webkit-text-stroke: 1px #ffffff;
     }

     .view-all {
          margin-top: 1rem;
          color: black;
          font-family: "inter-bold";
          width: 10.5rem;
          height: 3.25rem;
          background: #ffffff;
          padding: 1rem, 2rem, 1rem, 2rem;
          border-radius: 0.75rem;
          gap: 0.75rem;
          position: absolute;
          z-index: 2;
     }

     .view-all:hover {
          color: white;
          background: linear-gradient(180deg, #ee383e 0%, #EF5256 100%);
     }

     .photo-content {
          margin-top: 1rem;
          z-index: 3;
     }

     .bag {
          position: absolute;
          top: 26rem;
          /* left: 2rem; */
     }

     .bag-image-heading {
          top: 11rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 0.5px;
     }

     .bag-image {
          position: relative;
          width: 10rem;
          height: 15rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(3\).jpeg');
          background-size: cover;
          background-position: center;
     }

     .caps-books {
          position: absolute;
          width: 17rem;
          left: 11rem;
          top: 18rem;
     }

     .cap-image-heading {
          position: absolute;
          top: 8rem;
          position: absolute;
          left: 1rem;
          font-family: "Montserrat medium bold";
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 0.5px;
     }

     .caps-image {
          width: 10rem;
          height: 11rem;
          object-fit: cover;
          z-index: 2;
          margin-bottom: 1rem;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(7\).png');
          background-size: cover;
          background-position: center;
     }

     .books-image-heading {
          position: absolute;
          top: 20rem;
          position: absolute;
          left: 0.7rem;
          font-family: "Montserrat medium bold";
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 0.5px;
     }

     .books-image {
          width: 10rem;
          height: 11rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(2\).png');
          background-size: cover;
          background-position: center;
     }

     .bottle-image-container {
          position: absolute;
          left: 20rem;
          top: 2rem;
          /* bottom: 0rem; */
     }

     .bottle-image-heading {
          position: absolute;
          top: 22rem;
          position: absolute;
          left: 0.4rem;
          font-family: "Montserrat medium bold";
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: 0.3px;
     }

     .bottle-image {
          position: relative;
          margin-left: 2rem;
          margin-top: 14rem;
          justify-content: center;
          width: 8.5rem;
          height: 25rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(8\).jpeg');
          background-size: cover;
          background-position: center;
     }

     .t-shirt-container {
          position: absolute;
          left: 44rem;
          top: 14rem;
     }

     .t-shirt-one-heading {
          position: absolute;
          top: 8rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 0.4px;
     }

     .t-shirt-one {
          position: absolute;
          right: 0px;
          width: 12rem;
          height: 13rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(2\).jpeg');
          background-size: cover;
          background-position: center;
     }

     .t-shirt-two-heading {
          position: absolute;
          top: 10rem;
          position: absolute;
          left: 1.25rem;
          font-family: "Montserrat medium bold";
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 0.5px;
     }

     .t-shirt-two {
          margin-top: 14rem;
          position: absolute;
          right: 0px;
          width: 12rem;
          height: 13rem;
          object-fit: cover;
          z-index: 2;
          border-radius: 0.75rem;
          background-image:
               linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
               url('../../assets/img/img\ \(9\).jpeg');
          background-size: cover;
          background-position: center;
     }
}