.card-container {
     position: absolute;
     left: 187px;
     top: 411px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 24px;
}

.each-card {
     height: 468px;
     width: 357px;
     transition: box-shadow 0.4s ease;
     transition: transform 0.4s ease-in-out;
     animation: shake 0.5s;

}

.each-card:hover {
     box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
     transform: translateY(-30px);

}

@keyframes shake {
     0% {
          transform: translateX(0);
          transform: translateY(0);
     }

     25% {
          transform: translateX(-10px);
          transform: translateY(-10px);
     }

     50% {
          transform: translateX(10px);
          transform: translateY(10px);
     }

     75% {
          transform: translateX(-10px);
          transform: translateY(-10px);
     }

     100% {
          transform: translateX(0);
          transform: translateY(0);
     }
}

.image-container {
     object-fit: contain;
     height: 397px;
     width: 357px;
}

.content {
     margin-top: 16px;
     padding-left: 8px;
     font-family: "inter";
}