.card-container {
     position: absolute;
     left: 187px;
     top: 411px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 24px;
}

.each-card {
     height: 468px;
     width: 357px;
     transition: box-shadow 0.4s ease;
     transition: transform 0.4s ease-in-out;
     animation: shake 0.5s;

}

.each-card:hover {
     box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.3);
     transform: translateY(-30px);
     border-radius: 0.75rem;

}

@keyframes shake {
     0% {
          transform: translateX(0);
          transform: translateY(0);
     }

     25% {
          transform: translateX(-10px);
          transform: translateY(-10px);
     }

     50% {
          transform: translateX(10px);
          transform: translateY(10px);
     }

     75% {
          transform: translateX(-10px);
          transform: translateY(-10px);
     }

     100% {
          transform: translateX(0);
          transform: translateY(0);
     }
}

.image-container {
     object-fit: contain;
     height: 397px;
     width: 357px;
}

.content {
     margin-top: 16px;
     padding-left: 8px;
     font-family: "inter";
}

/* for laptop */
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
     .card-container {
          padding-top: 150px;
          position: absolute;
          left: 65px;
          top: 80px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;
     }

     .each-card {
          height: 330px;
          width: 270px;
          transition: box-shadow 0.4s ease;
          transition: transform 0.4s ease-out;
          animation: shake 0.5s;

     }

     .image-container {
          object-fit: cover;
          height: 220px;
          width: 100%;
     }

     .content {
          font-size: 16px;
          margin-top: 16px;
          padding-left: 8px;
          font-family: "inter";
     }


}

/* for tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {


     .card-container {
          padding-top: 150px;
          position: absolute;
          left: 65px;
          top: 117px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
     }

     .each-card {
          height: 300px;
          width: 260px;
          transition: box-shadow 0.4s ease;
          transition: transform 0.4s ease-out;
          animation: shake 0.5s;

     }

     .image-container {
          object-fit: contain;
          height: 200px;
          width: 100%;
     }

     .content {
          font-size: 13px;
          margin-top: 16px;
          padding-left: 8px;
          font-family: "inter";
     }

}

/* for mobile */
@media only screen and (max-width: 767px) {


     /* Styles for mobile screens */


     .card-container {
          padding-top: 30px;
          position: absolute;
          left: 50px;
          top: 137px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
     }

     .each-card {
          height: 220px;
          width: 160px;
          transition: box-shadow 0.4s ease;
          transition: transform 0.4s ease-out;
          animation: shake 0.5s;

     }

     .image-container {
          object-fit: contain;
          height: 130px;
          width: 100%;
     }

     .content {
          font-size: 10px;
          margin-top: 16px;
          padding-left: 8px;
          font-family: "inter";
     }

}