.signed-collection-section {
     height: 53.25rem;
     width: 120rem;
     background: #111111;

}

.signed-section-container {
     padding-top: 6.3125rem;
     margin-left: 9.375rem;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
}

.article-container {
     padding-top: 1.375rem;

}

.white-para {
     color: white;
     font-family: "Montserrat medium bold", sans-serif;
     font-size: 3.0625rem;
     line-height: 3.675rem;
     letter-spacing: 0.5px;
}

.red-para {
     margin-top: 1rem;
     margin-bottom: 3rem;
     background: linear-gradient(180deg, #DE2A2F 0%, #EF5256 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     color: transparent;
     font-family: "Montserrat bold";
     font-size: 4.375rem;
     line-height: 5.25rem;
     letter-spacing: 0.5px;

}

.signed-heading-text {
     width: 35.5625rem;
     height: 21.9375rem;
}

.signed-button {
     font-family: "inter-bold";
     width: 10.5rem;
     height: 3.25rem;
     background: #ffffff;
     padding: 1rem, 2rem, 1rem, 2rem;
     border-radius: 0.75rem;
     gap: 0.75rem;
}

.signed-button:hover {
     color: white;
     background: linear-gradient(180deg, #ee383e 0%, #EF5256 100%);
}

.signature-image-container {
     width: 49.875rem;
     height: 36.75rem;
     display: flex;
}

.book-image {
     object-fit: cover;
     width: 21.875rem;
     height: 35rem;
}

.book-image2 {
     object-fit: fill;
     width: 25.25rem;
     height: 32.375rem;
}

/* for laptop */

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
     .signed-collection-section {
          /* height: 100vw; */
          width: 100%;
          background: #111111;

     }

     .signed-section-container {
          padding-top: 5.3125rem;
          margin-left: 6.375rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
     }

     .article-container {
          padding-top: 2.5rem;

     }

     .white-para {
          color: white;
          font-family: "Montserrat medium bold", sans-serif;
          font-size: 2.5rem;
          line-height: 2.675rem;
          letter-spacing: 0.5px;
     }

     .red-para {
          margin-top: 1rem;
          margin-bottom: 2.5rem;
          background: linear-gradient(180deg, #DE2A2F 0%, #EF5256 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-family: "Montserrat bold";
          font-size: 4rem;
          line-height: 5rem;
          letter-spacing: 0.5px;

     }

     .signed-heading-text {
          width: 32rem;
          height: 20rem;
     }

     .signed-button {
          color: black;
          font-family: "inter-bold";
          width: 10.5rem;
          height: 3.25rem;
          background: #ffffff;
          padding: 1rem, 2rem, 1rem, 2rem;
          border-radius: 0.75rem;
          gap: 0.75rem;
     }

     .signed-button:hover {
          color: white;
          background: linear-gradient(180deg, #ee383e 0%, #EF5256 100%);
     }

     .signature-image-container {
          width: 45rem;
          height: 33rem;
          display: flex;
     }

     .book-image {
          margin-top: 2rem;
          object-fit: cover;
          width: 20rem;
          height: 28rem;
     }

     .book-image2 {
          object-fit: fill;
          width: 20rem;
          height: 28rem;
     }

}

/* for tablet  */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
     .signed-collection-section {
          /* height: 100vw; */
          width: 100%;
          background: #111111;

     }

     .signed-section-container {
          padding-top: 1.5rem;
          margin-left: 6rem;
          /* display: grid;
          grid-template-columns: repeat(2, 1fr); */
          display: flex;
          flex-direction: column;
     }

     .article-container {
          padding-top: 1rem;

     }

     .white-para {
          color: white;
          font-family: "Montserrat medium bold", sans-serif;
          font-size: 1.5rem;
          line-height: 1rem;
          letter-spacing: 0.5px;
     }

     .red-para {
          margin-top: 1rem;
          margin-bottom: 1.5rem;
          background: linear-gradient(180deg, #DE2A2F 0%, #EF5256 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-family: "Montserrat bold";
          font-size: 2.5rem;
          line-height: 3rem;
          letter-spacing: 0.5px;

     }

     .signed-heading-text {
          width: 25rem;
          height: 18rem;
     }

     .signed-button {
          color: black;
          font-family: "inter-bold";
          width: 10rem;
          height: 3rem;
          background: #ffffff;
          padding: 1rem, 2rem, 1rem, 2rem;
          border-radius: 0.75rem;
          gap: 0.75rem;
     }

     .signed-button:hover {
          color: white;
          background: linear-gradient(180deg, #ee383e 0%, #EF5256 100%);
     }

     .signature {
          top: 5rem;
          left: 25rem;
          width: 22rem;
     }

     .signature-image-container {
          width: 40rem;
          height: 30rem;
          display: flex;
     }

     .book-image {
          margin-top: 1rem;
          object-fit: cover;
          width: 20rem;
          height: 30rem;
     }

     .book-image2 {
          object-fit: fill;
          width: 25rem;
          height: 28rem;
     }

}

/* for mobile  */

@media only screen and (max-width: 767px) {
     .signed-collection-section {
          /* height: 100vw; */
          width: 100%;
          background: #111111;

     }

     .signed-section-container {
          padding-top: 1rem;
          margin-left: 2rem;
          /* display: grid;
          grid-template-columns: repeat(2, 1fr); */
          display: flex;
          flex-direction: column;
     }

     .article-container {
          padding-top: 0.8rem;

     }

     .white-para {
          color: white;
          font-family: "Montserrat medium bold", sans-serif;
          font-size: 1rem;
          line-height: .8rem;
          letter-spacing: 0.3px;
     }

     .red-para {
          margin-top: 1.2rem;
          margin-bottom: 1.2rem;
          background: linear-gradient(180deg, #DE2A2F 0%, #EF5256 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-family: "Montserrat bold";
          font-size: 1.8rem;
          line-height: 2rem;
          letter-spacing: 0.3px;

     }

     .signed-heading-text {
          width: 20rem;
          height: 15rem;
     }

     .signed-button {
          margin-top: 1rem;
          color: black;
          font-family: "inter-bold";
          width: 10rem;
          height: 3rem;
          background: #ffffff;
          padding: 1rem, 2rem, 1rem, 2rem;
          border-radius: 0.75rem;
          gap: 0.75rem;
     }

     .signed-button:hover {
          color: white;
          background: linear-gradient(180deg, #ee383e 0%, #EF5256 100%);
     }

     .signature {
          top: 4rem;
          left: 15rem;
          width: 10rem;
     }

     .signature-image-container {
          width: 32rem;
          height: 20rem;
          display: flex;
     }

     .book-image {
          margin-top: 1rem;
          object-fit: cover;
          width: 14rem;
          height: 22rem;
     }

     .book-image2 {
          object-fit: fill;
          width: 16rem;
          height: 20rem;
     }
}