.header-section {
     position: relative;
     height: 940px;
     width: 1920px;
     background: #EA2127;
     z-index: 2;
     overflow: hidden;
}

.background-text {
     font-weight: 400;
     font-size: 140px;
     line-height: 168px;
     letter-spacing: 1px;
     align-items: center;
     z-index: -1;
     position: absolute;
     top: 320px;
     left: 150px;
     color: #FFFFFF;
     opacity: 40%;
     font-family: "Act_Of_Rejection", sans-serif;
     white-space: nowrap;

}

.logo {
     width: 115px;
     height: 115px;
     padding-top: 9.5px;
     padding-bottom: 9.5px;
     padding-right: 10px;
     padding-left: 10px;

}

.left-header-content {
     margin-left: 62px;
     margin-top: 40px;
     align-items: center;
}

.heading {
     justify-content: center;
     align-items: center;
     font-family: "Montserrat bold", sans-serif;
     letter-spacing: 12px;
     line-height: 134.4px;
     font-size: 112px;
     font-weight: 800;
}

.burger-icon {
     font-size: 40px;
     position: absolute;
     top: 58px;
     left: 1724px;
     right: 156px;
}

@media (max-width: 1200px) {
     .header-section {
          height: 80vh;
          /* Adjust for smaller screens */
     }

     .background-text {
          font-size: 18vw;
          top: 30vh;
          left: 5vw;
          width: 80vw;
     }
}

@media (max-width: 768px) {
     .header-section {
          height: 60vh;
     }

     .background-text {
          font-size: 26vw;
          top: 25vh;
          left: 3vw;
          width: 85vw;
     }
}

@media (max-width: 480px) {
     .header-section {
          height: 100vh;
     }

     .background-text {
          font-size: 50px;
          top: 40vh;
          left: 20vw;
          width: 90vw;
     }
}